<template id="begin-test-template">
	<div class="columns is-centered is-mobile is-multiline pt__test-copy animate__animated animate__fadeIn">
		<div class="column is-full">
			<div class="columns is-multiline">
				<div class="column is-full">Test your English ability and find your approximate FLS level with our FREE test!</div>
				<div class="column is-full">Sign up to take our brief test and receive your results.</div>
				<div class="column is-full">An FLS representative can then help you make a study plan to meet your goals.</div>
			</div>
		</div>
		<div class="column is-full">
			<div class="columns is-multiline">
				<div class="column is-half">
					<div class="field">
						<div class="control">
							<input class="input" type="text" placeholder="First Name">
						</div>
					</div>
				</div>

				<div class="column is-half">
					<div class="field">
						<div class="control">
							<input class="input" type="text" placeholder="Family Name">
						</div>
					</div>
				</div>

				<div class="column is-half">
					<div class="select">
						<select>
							<option>Select a Country</option>
							{{#each countries as |country|}}
								<option value="{{country.name}}">{{country.name}}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="column is-half">
					<div class="field">
						<div class="control">
							<input class="input" type="email" placeholder="Your Email">
						</div>
					</div>
				</div>

				<div class="column is-full">
					<div class="columns">
						<div class="column is-half">
							<p>Are you working with an agency?</p>
						</div>
						<div class="column is-half">
							<div class="control">
								<label class="radio">
									<input type="radio" name="answer">
									Yes
								</label>
									<label class="radio">
										<input type="radio" name="answer">
										No
									</label>
								</div>
						</div>
					</div>
				</div>

				<div class="column is-full">
					<button class="button pt__begin-test-button">
						Begin the Test
					</button>
				</div>
			</div>
		</div>
	</div>
</template>