<template id="completed-template">
    <div class="columns is-centered is-multiline animate__animated animate__fadeIn">
        <div class="column is-two-thirds">
            <h1 class="title is-1">Thanks for Taking our Proficiency Test!</h1>
        </div>
        <div class="column is-two-thirds">
            <p>We will send you the results of your proficiency test via your email.</p>
        </div>
    </div>
</template>  