<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{title}}</title>

	<!-- TODO: Use NPM package, use SASS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">
	<!-- TODO: Might want to eventually look into a CDN for loading assets -->
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<nav class="navbar is-fixed-top navbar--test">
		<div class="container container--test">
			<a href="https://fls.net/" target="_blank">
				<img src="/img/fls-international-logo.png" alt="FLS International logo" class="navbar__logo">
			</a>
		</div>
	</nav>

	<section class="hero is-medium hero--test">
		<div class="hero-body">
		</div>
	</section>

	<div class="container test-container">
		<section class="articles">
			<div class="column is-8 is-offset-2">
				<div class="card article">
					<div class="card-content pt__main-content">
						<!-- Main content templates rendered here -->
					</div>
				</div>
			</div>
		</section>
	</div>    

	{{> footer}}  

	<!-- Partial templates -->
	{{> preArrivalTest}}
	{{> proficiencyTest}}
	{{> completed}}
	{{> loader}}
	
	{{> scripts}}
</body>

</html>